body {
  font-family: sans-serif;
}
.product-list {
  margin: 15px 0;
  border-radius: 6px;
}

.product-list,
.product-compare {
  border: 1px solid rgba(50, 50, 50, 0.5);
  box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
  display: flex;
  width: 100%;
}
.default-product-spec, .product {
  display: inline-block;
  float: left;
}
.default-product-spec {
  background: #0a0;
  color: #fff;
  font-weight: 700;
  width: 15%;
}
.product-action {
  width: 15%;
  text-align: center;
  padding-top: 7%;
}
.product {
  width: 70%;
}
.default-product-spec > div,
.product > div,
.product-item > div {
  padding: 10px;
}

.product-name {
  background: beige;
  font-size: 18px;
  font-weight: 600;
}
.product-price {
  font-weight: 600;
}

.product-compare {
  display: flex;
}
.product-compare > .default-product-spec,
.product-compare > .product-item {
  flex: 1;
}


.product-item > div {
  border-top: 1px solid gray;
}

#product-compare {
  flex: 6;
}
.product-item {
  display: inline-block;
  max-width: 350px;
}
